/* navbar menu  */

.nav-link{
    color: white !important ;
    font-size: larger!important;
    display:flex;
    

}

.nav-link:hover{
    color: white !important;

}

.nav-item{
    float: right;
}


.active:hover{
border-bottom: 1px solid white;
}
.navbar{
    background-color: black;
}
 
.underline {
    display: inline-block;
    position: relative;
    color: white;
  }
  
  .underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.s ease-out;
  }
  
  .underline:hover:after {
    transform: scaleX(1);
  }

  .active{
      border-bottom: 1px solid white;
  }
/* login  */

#login-btn{
    border: 1px solid white;
    color: white;
    position: absolute;
    transform: translate(2350%,8%);
font-size: large;
}
#login-btn:hover{
    color:black !important;
    background-color: white;
    transition: 0.2s;
}

/* home div  */


.home-div{
    width: 100%;
    
}
.home-pic{
    width: 100%;
}
.pic{
    width: 100%;
    height: 900px;
}
.home-data{
    color: white;
    text-align: center;
    position:absolute;
    top: 8%;
    left: 40%;
}
.join-us{
    position: absolute;
    top: 80%;
    left: 45%;


}


.hr{
    height: 2px !important;
    background-color: black !important;
    width: 100%;
}


/* about div  */
.AllCards{
margin-left: 150px;
margin-right: 150px;
margin-bottom: 50px;
}

#About_title{
    text-align: center; 
    margin-top: 18px;
    Font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

.About-cards{
    margin: 30px 0px 15px 150px;
    
}
.About-cards .card:hover{
    box-shadow: 15px 40px 60px 20px rgba(12, 5, 62, 0.15);
}
.card{
    align-items: center;
    border: none;
    padding: 0 !important;
    width: 75%;
}
.About-card-title{
    text-align: center !important;
    font-size: 25px;
}
.About-card-text{
text-align: right;
font-size: 20px;
}
.card-body{
    width: 70%;
    
}

/* continue div */

.continue{
    display: flex;
}
.btn2{
    margin-top: 80px;
}
.btn{
    color: white;
    background-color: black;
    margin-top:5%;
    margin-bottom: 5%;
    margin-right: 10px;
    margin-left: 400px;
    display: inline-block;

}


/* contact us div  */


#ContactUs-title{
    color: white;
    text-align: center; 
    Font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
}
.contact-us{
    background-color: black;
    padding-top: 50px;
}
.contact-form{
    margin: none;
    padding: 0;
   width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
    background-color: white;
    
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: 1px solid white;
    border-radius: 1rem;
    padding: 1.5%;
    background: black;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    cursor: pointer;
}
.contact-form .btnContact:hover{
    background: white;
    color: black;
    transition: 1.2s;
}


/* footer */

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  a:hover, a:focus {
    text-decoration: none;
  }
  
  .form-control {
    background: #212529;
    border-color: #545454;
  }
  
  .form-control:focus {
    background: #212529;
  }
  
  footer {
    background: #212529;
  }
  



/* responsive site  : ( all devices ) */ 


/* small mobile :320px. */
@media (max-width: 767px){
.nav-item{
width: 15%;
}
.un{
    width: 120%;
}
 .un:hover{
    width: 120%;
}
.nav-item:hover{
    width: 15%;
    transition: 1s;
}
}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .un{
        width: 200%;
    }
    .un:hover{
        width: 200%;
        transition: 1s;
    }
    .nav-item{
        width: 15%;
    }
    .nav-item:hover{
    width: 15%;
    transition: 1s;
    }
}
#imglogo{
    position: relative;
    left: 910px;
}

